/* corp */

body {
  font-family: "Roboto", sans-serif;
}

/* logo */

header {
display: flex;
justify-content: center;
}

/* Search bar */

.search {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  background-color: #eaeaea;
  text-align: center;
  padding-left: 0;
  height: 3em;
}

.fa-location-dot {
  margin-right: 0;
}


/* Section description */

.description h1 {
  font-size: 1.5em;
  margin: 1em 15% 0;
  text-align: center;
}

.description p {
  text-align: center;
  margin: 0 12%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  height: 290px;
}

.description button {
  font-size: 0.9rem;
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  border-style: none;
  width: 200px;
  height: 50px;
  border-radius: 35px;
  margin-bottom: 2em;
}

/* Fonctionnement */

.functioning li {
background-color: #f6f6f6;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 5%;
width: 90%;
height: 5em;
border-radius: 25px;
position: relative;
margin-top: 15px;
}

/****************************Main***************************/

.container-restaurant p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.container-restaurant {
  padding: 20px 0;
  background-color: #f2f2f2;
}

.restaurant-card img {
  object-fit: cover;
  height: auto;
  width: 100%;
  line-height: 15px;
  border-radius: 20px 20px 0 0;
}

.restaurant-card {
  border-radius: 30px;
  background-color: white;
  margin: 0;
}

.restaurant-card img p {
  width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #99e2d0;
    color: #008766;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin: 1rem;
}

.restaurant-card-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

h4 {
  margin: 0;
}

.fa-regular {
  margin: 0;
}

/* Footer */

footer p {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  background-color: #353535;
  padding: 30px 0 30px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

footer li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  margin-left: 1rem;
}

footer a {
  color: white;
}

footer img {
  width: 8rem;
  height: 1.2rem;
  filter: invert(100%);
  margin-left: 1rem;
}