/* corp */

body {
  font-family: "Roboto", sans-serif;
}

/* logo */

.header-logo {
  display: flex;
  justify-content: center;
  height: 4rem;
  align-items: center;
}

/* Search bar */

.search {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  height: 4em;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  background-color: #eaeaea;
  text-align: center;
  padding-left: 0;
  height: 3em;
}

.fa-location-dot {
  margin-right: 0;
}

/* Section description */

.description h1 {
  font-size: 1.5em;
  margin: 1em 15% 0;
  text-align: center;
}

.description p {
  text-align: center;
  margin: 0 12%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  height: 290px;
}

.description button {
  font-size: 0.9rem;
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  border-style: none;
  width: 200px;
  height: 50px;
  border-radius: 35px;
  margin-bottom: 2em;
}

/* Fonctionnement */

.fa-mobile-screen-button,
.fa-bars,
.fa-store {
  color:#9356DC;
}

.functioning-text {
  font-size: 1rem;
  font-weight: 500;
}

.functioning li {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  width: 90%;
  height: 5em;
  border-radius: 25px;
  position: relative;
  margin-top: 15px;
  box-shadow: 0px 5px 10px 0px #b4b4b4;
}

span {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  text-align: center;
  top: 30%;
  left: -4%;
}

/* Main */

.container-restaurant h2 {
margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  margin: 0;
}

.container-restaurant .fa-heart {
  position: relative;
  left: 265px;
  bottom: 40px;
}

.card-restaurant {
  margin: 0;
  padding: 13px 0 0 0;
  font-size: 1.1rem;
  text-indent: 4%;
  font-weight: 600;
}

.location-restaurant {
  margin: 0;
  padding: 5px 0 0 0;
  text-indent: 4%;
  font-size: 1.05rem;
  font-weight: 300;
}

.restaurant-title {
  padding: 0 0 10px 22px;
}

.container-restaurant {
  padding: 20px 0 60px 0;
  background-color: #f6f6f6;
}

figure, figcaption {
  margin:0;
  border: 0;
  padding: 0;
}

.restaurant-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.restaurant-card {
  max-width: 330px;
  min-width: 300px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  box-shadow: 0px 5px 10px 0px #b4b4b4;
}

.container-restaurant .tag-card {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 0;
  right: 0.75rem;
}

.restaurant-card-text p {
  margin: 0;
}

/* Footer */

footer p {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #353535;
  padding: 30px 0 30px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 10px;
}

footer li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  margin-left: 1rem;
}

footer a {
  color: white;
}

.fa-utensils  {
  margin-right: 8px;
}

footer img {
  width: 7rem;
  height: 1.2rem;
  filter: invert(100%);
  margin-left: 1rem;
  padding-left: 10px;
}

/* Style CSS fiche menu */

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-header img {
  width: 220px;
  padding: 20px 0;
}

.fa-arrow-left {
  position: absolute;
  left: 2rem;
  height: 0;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-background {
  background-color: #F6F6F6;
  margin-top: -27px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 15px 10px 15px;
  position: relative;
  z-index: 1;
}

.entrees_name,
.plat_name,
.dessert_name {
  font-size: 1.2em;
  margin: 10px;
}

.resto-name {
  font-size: 1.9em;
  font-weight: 200;
  font-family: "Shrikhand", cursive;
  margin: 0;
}

.resto-name .fa-heart {
  position: relative;
  left: 10px;
}

.Accompagnement_entrees,
.Accompagnement_plat,
.Accompagnement_dessert {
  margin: 10px;
  font-size: 1em;
  color: gray;
}

.streamer-menu img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 200px;
}

.entree_title_menu,
.plat_title_menu,
.dessert_title_menu {
  align-content: start;
  margin: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
}

.entree_container,
.plat_container,
.dessert_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  padding: 1rem 0;
}

.label_entree,
.label_plat,
.label_dessert {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  gap: 0;
  border-radius: 15px;
  width: 95%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px #6e6e6e;
  position: relative;
}

.button_commander {
  display: block;
  margin: 0 auto 20px;
  background-color: #F6F6F6;
}

button {
  font-size: 0.9rem;
  font-weight: 600;
  background: linear-gradient(#fd6c9e, #7f00ff);
  color: white;
  border-style: none;
  box-shadow: 0px 8px 12px 1px #6e6e6e;
  min-width: 10rem;
  max-width: 15rem;
  width: 35%;
  height: 3rem;
  border-radius: 30px;
  margin-bottom: 2em;
}