/****************************Corps***************************/


body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Shrikhand";
  margin: 1em 15% 0;
  text-align: center;
}

/****************************Navabar***************************/

a {
  text-decoration: none;
  color: black;
}

nav {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************Header***************************/

h2,
h3 {
  font-family: "Shrikhand";
}

h2 {
  margin: 1em 15% 0;
  text-align: center;
}

.functioning p {
  margin-left: 1em;
  margin-top: 2em;
}

p {
  text-align: center;
  margin: 0 12%;
}

.maps {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
}

.fa-location-dot {
  margin-right: 13px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  height: 250px;
}

.description button {
  font-size: 0.8rem;
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  border-style: none;
  width: 200px;
  height: 50px;
  border-radius: 35px;
  margin-bottom: 2em;
}

.touch_menu {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  width: 90%;
  height: 5em;
  border-radius: 30px;
  position: relative;
}

/****************************Main***************************/

.container-restaurant p {
  font-size: 1.5rem;
  margin-left: 1em;
  padding-bottom: 2rem;
}

.container-restaurant {
  padding: 20px 0;
  background-color: #f2f2f2;
}

.restaurant-card img {
  object-fit: cover;
  height: auto;
  width: 100%;
  line-height: 15px;
  border-radius: 20px 20px 0 0;
}

.restaurant-card {
  border-radius: 30px;
  background-color: white;
  margin: 0;
}

.restaurant-card-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin: 1rem;
}

/****************************Footer***************************/

footer p {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  background-color: #353535;
  padding: 30px 0 30px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

footer li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  margin-left: 1rem;
}

footer a {
  color: white;
}

footer img {
  width: 8rem;
  height: 1.2rem;
  filter: invert(100%);
  margin-left: 1rem;
}